*{
    margin: 0%;
    padding: 0%;
}
header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem {
    width: 30%;
    
}
.cabecalho-imagem-2{
    margin: 70px;
}