*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
}
.descricao{
    font-size: 150%;
    margin: 100px;
}
.cabecalho-imagem {
    width: 30%;  
}

.cabecalho-imagem2{
    display: inline-block;
    margin: 0 16px;
    font-size: 10px;
    width: 100%;
}


.sccp-imagem{
    width: 20%;
}

.descricao2{
    background-image: linear-gradient(#000,#fff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.titulo-titulos{
   
    text-align: center;
}

.estudante-imagem{
    width: 300px;
}

.todas-img{
    text-align: center;
}

.todas-img{
    display: grid;
    grid-template-columns:  33% 33% 33%;
    background-image: linear-gradient(#fff,#000);
}


.dourada{
    text-align: center;
    width: 60px;
}
.rodape{
    text-align: center;
    background-color: #000000;
}